<html>
  <head>
    <meta charset="utf-8" /> 
    <title>Tau Station University Courses</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style>
        .univ, .centered {
            text-align: center;
        }
        th {
            padding: 2ex;
        }
        tr {
            text-align: left;
        }
        tr:hover {
          background-color: #ffff99;
        }
        table {
          border: 1px solid #000000;
          border-collapse: collapse;
        }
        table td, table th {
          border: 1px solid #000000;
        }
        table thead {
          background: #DBDBDB;
          border-bottom: 0.5px solid #000000;
        }
/*
        table thead th {
          font-weight: bold;
          text-align: left;
        }
*/


    </style>
  </head>
  <body>

    <h1>Tau Station University Courses</h1>

    <p>See <a href="https://taustation.space">Tau Station, official website</a>
       and <a href="https://tauguide.de/">Tau guide</a> for context.</p>

    <table id="univ">
        <thead>
            <tr>
                <th                 >Module            </th>
                <th                 >Course            </th>
                <th class="centered">Level             </th>
                <th                 >Prerequisites     </th>
                <th class="centered">Duration          </th>
                <th class="centered">Cost              </th>
                <th class="univ">Tau               </th>
                <th class="univ">NL                </th>
                <th class="univ">Moi               </th>
                <th class="univ">SoB               </th>
            </tr>
        </thead>
        <tbody>
            [% FOR row IN courses; %]
                [% IF !row.coming_soon; THEN %]
                    <tr id="[% row.slug | html %]">
                        <td>[% row.module | html %]</td>
                        <td>[% row.course | html %]</td>
                        <td>[% row.level  | html %]</td>
                        <td>
                            [% FOR p IN row.prerequisites; %]
                                [% p.name | html %]
                                <!-- <a href="#[% p.slug %]">[% p.name |html %]</a> -->
                            [% END %]
                        </td>
                        <td>[% row.duration | html %]</td>
                        <td>[% row.cost | html %]</td>
                        <td>[% IF row.tau; THEN %]<i class="fas fa-check"></i>[% END; %]</td>
                        <td>[% IF row.nl ; THEN %]<i class="fas fa-check"></i>[% END; %]</td>
                        <td>[% IF row.moi; THEN %]<i class="fas fa-check"></i>[% END; %]</td>
                        <td>[% IF row.sob; THEN %]<i class="fas fa-check"></i>[% END; %]</td>

                    </tr>
                [% END; %]
            [% END %]
        </tbody>
    </table>

    <p>Source and data is <a href="https://github.com/taustation-fan/university">on GitHub</a>.</p>

    <script type="text/javascript" src="assets/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/jquery.dynatable.js"></script>
    <script type="text/javascript" src="assets/univ.js"></script>
    

  </body>
</html>
