<html>
  <head>
    <meta charset="utf-8" /> 
    <title>Tau Station University Courses</title>
    <style>
        .tablesorter .filtered {
            display: none;
        }
        .univ, .centered {
            text-align: center;
        }
        th {
            padding: 2ex;
        }
        tr {
            text-align: left;
        }
        tr:hover {
          background-color: #ffff99 !important;
        }
        .even {
            background-color: #eee;
        }
        table {
          border: 1px solid #000000;
          border-collapse: collapse;
        }
        table td, table th {
          border: 1px solid #000000;
          padding: 1ex;
        }
        table thead {
          background: silver;
          border-bottom: 0.5px solid #000000;
        }
        .strong-left-border {
            border-left: 2px solid black;
        }
        tr.in-progress {
            background-color: #ffa50066;
        }
        #course_details {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            padding: 2em;
            margin: 2em;
            background-color: gainsboro;
            z-index: 20;
            box-shadow: 0px 0px 30px darkgray;
        }
        .button {
          text-decoration: none;
          background-color: #EEEEEE;
          color: #333333;
          padding: 2px 6px 2px 6px;
          border-top: 1px solid #CCCCCC;
          border-right: 1px solid #333333;
          border-bottom: 1px solid #333333;
          border-left: 1px solid #CCCCCC;
        }
        .danger {
          margin-left: 3rem;
        }
        .lmarg {
          margin-left: 0.5rem;
        }


    </style>
  </head>
  <body>

    <h1>Tau Station University Courses</h1>

    <p>See <a href="https://taustation.space">Tau Station, official website</a>
       and <a href="https://tauguide.de/">Tau guide</a> for context.</p>

    <p>
        Search: <input class="search" data-column="0,1" type="search"> (Matches module and course)<br>
        Show: <select id="donedeps">
            <option value="all" selected=1>all</option>
            <option value="open">courses I have not done yet</option>
            <option value="done">courses I have finished</option>
            <option value="eligible">courses I am eligible for</option>
        </select> (you can paste your <a href="#education-input">completed courses below</a>)
    </p>

    <table id="univ">
        <thead>
            <tr>
                <th                 >Module            </th>
                <th                 >Course            </th>
                <th class="centered">Level             </th>
                <th                 >Prerequisites     </th>
                <th class="centered">Duration          </th>
                <th class="centered">Cost              </th>
                <th class="univ">Tau
                    <br/> <input type="checkbox" class="checksearch" data-col="6"></th>
                <th class="univ">NL
                    <br/> <input type="checkbox" class="checksearch" data-col="7"></th>
                <th class="univ">Moi
                    <br/> <input type="checkbox" class="checksearch" data-col="8"></th>
                <th class="univ">SoB
                    <br/> <input type="checkbox" class="checksearch" data-col="9"></th>
                <th class="centered strong-left-border">Done</th>
                <th class="centered">Eligible</th>
            </tr>
        </thead>
        <tbody>
            [% FOR row IN courses; %]
                [% IF !row.coming_soon; THEN %]
                    <tr id="[% row.slug | html %]">
                        <td>[% row.module | html %]</td>
                        <td><a href="#" class="course-link" data-slug="[% row.slug %]">[% row.course | html %]</a></td>
                        <td>[% row.level  | html %]</td>
                        <td class="prereqs">
                            [% IF row.prerequisites.size == 1; THEN %]
                                [% p = row.prerequisites.0 %]
                                <a href="#" class="course-link" data-slug="[% p.slug %]">[% p.name | html %]</a>
                            [% ELSIF row.prerequisites.size > 1; THEN %]
                              <ul>
                                [% FOR p IN row.prerequisites; %]
                                    <li><a href="#" class="course-link" data-slug="[% p.slug %]">[% p.name | html %]</a>
                                    </li>
                                [% END %]
                              </ul>
                            [% END %]
                        </td>
                        <td>[% row.duration | html %]</td>
                        <td>[% row.cost | html %]</td>
                        <td class="centered">[% IF row.tau; THEN %]✔[% END; %]</td>
                        <td class="centered">[% IF row.nl ; THEN %]✔[% END; %]</td>
                        <td class="centered">[% IF row.moi; THEN %]✔[% END; %]</td>
                        <td class="centered">[% IF row.sob; THEN %]✔[% END; %]</td>
                        <td class="centered done strong-left-border"></td>
                        <td class="centered eligible"></td>
                    </tr>
                [% END; %]
            [% END %]
        </tbody>
    </table>

    <p>
    <textarea id="education-input" placeholder="Paste the contents of the Education section of your character page here" cols="40"></textarea>
    <button id="education-input-button">Apply</button>
    <button id="education-clear-button">Clear</button>
    <button id="education-store-button" class="lmarg">Store</button>
    <button id="education-recall-button">Recall</button>
    <button id="education-forget-button" class="danger">Forget</button>
    <br>
    <span id="education-timestamp"></span>
    <span id="education-status"></span>
    </p>


    <footer>
        <p>Source and data is <a href="https://github.com/taustation-fan/university">on GitHub</a>.</p>
    </footer>

    <script type="text/javascript" src="assets/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="assets/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript" src="assets/toposort.js"></script>
    <script type="text/javascript" src="assets/univ.js"></script>
    <script type="text/javascript">
        document.univ_courses = [% courses_json %];
    </script>
    
    <div id="course_details" style="display: none">
        <h2 id="course_details_name"></h2>
        <p id="course_details_description"></p>
        <p id="course_details_measurement"></p>
        <table>
            <tbody>
                <tr>
                    <th>Level</th>
                    <td id="course_details_level"></td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td><span id="course_details_duration"></span> Segments</td>
                </tr>
                <tr>
                    <th>Cost</th>
                    <td><span id="course_details_cost"></span> Credits</td>
                </tr>
                <tr>
                    <th>Available at</th></td>
                    <td id="course_details_universities"></td>
                </tr>
                <tr>
                    <th>Status</th></td>
                    <td id="course_details_status"></td>
                </tr>
            </tbody>
        </table>


        <div id="course_details_prerequisites_container">
            <h3>All Prerequisites</h3>
            <p>Transitive prerequisites sorted in the order you can take the courses:</p>
            <ul id="course_details_all_prerequisites"></ul>
        </div>

        <p><a href="#" class="button course_details_close">Close</a></p>
    </div>

  </body>
</html>
