<html>
  <head>
    <meta charset="utf-8" /> 
    <title>Tau Station University Courses</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <style>
        .univ, .centered {
            text-align: center;
        }
        th {
            padding: 2ex;
        }
        tr {
            text-align: left;
        }
        tr:hover {
          background-color: #ffff99;
        }
        table {
          border: 1px solid #000000;
          border-collapse: collapse;
        }
        table td, table th {
          border: 1px solid #000000;
          padding: 1ex;
        }
        table thead {
          background: #DBDBDB;
          border-bottom: 0.5px solid #000000;
        }
        #course_details {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            padding: 2em;
            margin: 2em;
            background-color: lightgray;
        }
        .button {
          text-decoration: none;
          background-color: #EEEEEE;
          color: #333333;
          padding: 2px 6px 2px 6px;
          border-top: 1px solid #CCCCCC;
          border-right: 1px solid #333333;
          border-bottom: 1px solid #333333;
          border-left: 1px solid #CCCCCC;
        }


    </style>
  </head>
  <body>

    <h1>Tau Station University Courses</h1>

    <p>See <a href="https://taustation.space">Tau Station, official website</a>
       and <a href="https://tauguide.de/">Tau guide</a> for context.</p>

    <table id="univ">
        <thead>
            <tr>
                <th                 >Module            </th>
                <th                 >Course            </th>
                <th class="centered">Level             </th>
                <th                 >Prerequisites     </th>
                <th class="centered">Duration          </th>
                <th class="centered">Cost              </th>
                <th class="univ">Tau               </th>
                <th class="univ">NL                </th>
                <th class="univ">Moi               </th>
                <th class="univ">SoB               </th>
            </tr>
        </thead>
        <tbody>
            [% FOR row IN courses; %]
                [% IF !row.coming_soon; THEN %]
                    <tr id="[% row.slug | html %]">
                        <td>[% row.module | html %]</td>
                        <td><a href="#" class="course-link" data-slug="[% row.slug %]">[% row.course | html %]</a></td>
                        <td>[% row.level  | html %]</td>
                        <td>
                            [% IF row.prerequisites.size == 1; THEN %]
                                [% p = row.prerequisites.0 %]
                                <a href="#" class="course-link" data-slug="[% p.slug %]">[% p.name | html %]</a>
                            [% ELSIF row.prerequisites.size > 1; THEN %]
                              <ul>
                                [% FOR p IN row.prerequisites; %]
                                    <li><a href="#" class="course-link" data-slug="[% p.slug %]">[% p.name | html %]</a>
                                    </li>
                                [% END %]
                              </ul>
                            [% END %]
                        </td>
                        <td>[% row.duration | html %]</td>
                        <td>[% row.cost | html %]</td>
                        <td>[% IF row.tau; THEN %]<i class="fas fa-check"></i>[% END; %]</td>
                        <td>[% IF row.nl ; THEN %]<i class="fas fa-check"></i>[% END; %]</td>
                        <td>[% IF row.moi; THEN %]<i class="fas fa-check"></i>[% END; %]</td>
                        <td>[% IF row.sob; THEN %]<i class="fas fa-check"></i>[% END; %]</td>

                    </tr>
                [% END; %]
            [% END %]
        </tbody>
    </table>

    <p>Source and data is <a href="https://github.com/taustation-fan/university">on GitHub</a>.</p>

    <script type="text/javascript" src="assets/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="assets/jquery.dynatable.js"></script>
    <script type="text/javascript" src="assets/toposort.js"></script>
    <script type="text/javascript" src="assets/univ.js"></script>
    <script type="text/javascript">
        document.univ_courses = [% courses_json %];
    </script>
    
    <div id="course_details" style="display: none">
        <h2 id="course_details_name"></h2>
        <p id="course_details_description"></p>
        <table>
            <tbody>
                <tr>
                    <th>Level</th>
                    <td id="course_details_level"></td>
                </tr>
                <tr>
                    <th>Duration</th>
                    <td><span id="course_details_duration"></span> Segments</td>
                </tr>
                <tr>
                    <th>Cost</th>
                    <td><span id="course_details_cost"></span> Credits</td>
                </tr>
                <tr>
                    <th>Available at</th id="course_details_universities"></td>
                    <td id="course_details_universities"></td>
                </tr>
            </tbody>
        </table>

        <div id="course_details_prerequisites_container">
            <h3>All Prerequisites</h3>
            <p>Transitive prerequisites sorted in the order you can take the courses:</p>
            <ul id="course_details_all_prerequisites"></ul>
        </div>

        <p><a href="#" class="button course_details_close">Close</a></p>
    </div>

  </body>
</html>
